* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  position: relative;
  .example {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);

    color: #fff;
    background-color: rgba(0, 183, 195, 1);
    padding: 8px;
    border-radius: 3px;
    white-space: nowrap;

    cursor: pointer;
    transition: background-color 0.3s ease-out;
    &:hover {
      background-color: rgba(0, 183, 195, 0.8);
    }
  }
}
